<link rel="stylesheet" href="/styles/FVTT-wallet.css"/>
<form>
    <span id="pp">
        <span id="pp-icon"><i class='fas fa-coins platinum-coin money'></i></span>
        <span id="pp-amount"></span>
    </span>
    <span id="gp">
        <span id="gp-icon"><i class='fas fa-coins gold-coin money'></i></span>
        <span id="gp-amount"></span>
    </span>
    <span id="ep">
        <span id="ep-icon"><i class='fas fa-coins electrum-coin money'></i></span>
        <span id="ep-amount"></span>
    </span>
    <span id="sp">
        <span id="sp-icon"><i class='fas fa-coins silver-coin money'></i></span>
        <span id="sp-amount"></span>
    </span>
    <span id="cp">
        <span id="cp-icon"><i class='fas fa-coins copper-coin money'></i></span>
        <span id="cp-amount"></span>
    </span>
</form>
